{% extends "padre.html" %}

{% load static %}



{% block contenido %}

<main class="container">
    <h1 class="text-xl-center title"> Alumnos </h1>
     <!-- Opción para crear alumno (solo visible para usuarios autenticados) -->
     {% if user.is_authenticated %}    
    <a href="alta_alumnos" class="btn btn-info btn-sm">CREAR ALUMNO</a> 
    {% endif %}

    <a href="buscar_alumnos.html" class="btn btn-secondary btn-sm mt-3 mb-3">BUSCAR ALUMNOS</a>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>camada</th>
            </tr>            
        </thead>
        <tbody>
            {% for n in alumnos %}
            <tr>
                <td>{{n.id}}</td>
                <td>{{n.nombre}}</td>
                <td>{{n.apellido}}</td>
                <td>{{n.camada}}</td>

                {% if user.is_authenticated %}
                <td><a href="{% url 'eliminar_alumnos' n.id %}" class="btn btn-danger btn-sm">BORRAR</a></td>
                <td><a href="{% url 'editar_alumnos' n.id %}" class="btn btn-warning btn-sm">EDITAR</a></td>

                {% endif %}

            </tr>

            {% endfor %}
            
        </tbody>


    </table>



</main>

<main>
    <h1 class="text-xl-center title"> Testimonios </h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}" class="card-img-top img-fluid img-thumbnail" alt="Testimonio 1">
                    <div class="card-body">
                        <h5 class="card-title">Juan Andes</h5>
                        <p class="card-text">Me gustó mucho el curso</p>
                        <a class="btn btn-danger" href="#">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}" class="card-img-top img-fluid img-thumbnail" alt="Testimonio 2">
                    <div class="card-body">
                        <h5 class="card-title">Tatiana Dominico</h5>
                        <p class="card-text">Aprendí mucho </p>
                        <a class="btn btn-danger" href="#">Enviar mensaje</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/testimonials-3.jpg' %}" class="card-img-top img-fluid img-thumbnail" alt="Testimonio 3">
                    <div class="card-body">
                        <h5 class="card-title">Camila Perez</h5>
                        <p class="card-text">Muy completo y detallado</p>
                        <a class="btn btn-danger" href="#">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
</main>




{% endblock %}