{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<form action="{% url 'editar_profesores' profesores.id %}" method="POST">
    {% csrf_token %} <!-- {% csrf_token %} para proteger los formularios contra ataques CSRF al incluir un token único en cada formulario generado. -->
    <p>nombre</p>
    {{mi_formulario.nombre}} 

    <p>apellido</p>
    {{mi_formulario.apellido}}

    <p>id_comision</p>
    {{mi_formulario.id_comision}}

    <button class="btn btn-dark btn-sm"> Enviar</button>

</form>


{% endblock %}