{% extends "padre.html" %}

{% load static %}


{% block contenido %}

   <h2>{{mensaje}}</h2>

   <div class="container">
        <div class="row">
            <div class="col-12  col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{usuario}}</h5>
                        <p class="card-text">Me gusto mucho el curso</p>                    
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning">Editar</a>
                    </div>
                </div>
            

            </div>
        </div>
    </div>

    


{% endblock %}